In [8]:
# Read the dataset and load it to a data frame
file_path <- "/content/CreditCardFraud_Dataset-4.csv"
df <- read.csv(file_path)
# Data transformations
df$MerchantID <- as.factor(df$MerchantID)         # Ensures proper grouping in plots/summaries
df$TransactionType <- as.factor(df$TransactionType)  # So ggplot doesn't treat it as text
df$Class <- factor(df$Class, levels = c("Normal", "Fraudulent"))  # So "Fraudulent" is the positive class

In [9]:
# Dimension of the dataset
dim(df)

[1] 10000     6

In [10]:
# Features
colnames(df)

[1] "TransactionID"   "Time"            "Amount"          "MerchantID"
[5] "TransactionType" "Class"

In [11]:
# Data Types
str(df)

'data.frame':	10000 obs. of  6 variables:
 $ TransactionID  : chr  "T1" "T2" "T3" "T4" ...
 $ Time           : int  113813 1510 123891 155005 100917 66756 104928 156878 116826 47269 ...
 $ Amount         : int  321 309 687 206 137 938 439 848 131 844 ...
 $ MerchantID     : Factor w/ 100 levels "M1","M10","M100",..: 8 22 19 32 71 85 90 30 80 17 ...
 $ TransactionType: Factor w/ 3 levels "In-Store","Mobile",..: 2 2 1 3 3 2 2 3 2 3 ...
 $ Class          : Factor w/ 2 levels "Normal","Fraudulent": 1 1 1 1 1 1 1 1 1 1 ...

In [12]:
# Measures of central tendency and dispersion
summary(df)

 TransactionID           Time            Amount         MerchantID
 Length:10000       Min.   :    15   Min.   :   1.0   M77    : 127
 Class :character   1st Qu.: 44142   1st Qu.: 256.0   M75    : 122
 Mode  :character   Median : 87914   Median : 505.0   M4     : 121
                    Mean   : 87961   Mean   : 550.2   M44    : 120
                    3rd Qu.:131960   3rd Qu.: 761.0   M10    : 116
                    Max.   :172793   Max.   :4995.0   M26    : 116
                                                      (Other):9278
 TransactionType        Class
 In-Store:3189   Normal    :9767
 Mobile  :3393   Fraudulent: 233
 Online  :3418

In [13]:
# Check for duplicates in TransactionID
sum(duplicated(df$TransactionID))

[1] 0

In [14]:
# Categorical Incosistencies
unique(df$TransactionType)
unique(df$Class)

[1] Mobile   In-Store Online
Levels: In-Store Mobile Online

[1] Normal     Fraudulent
Levels: Normal Fraudulent

In [15]:
# Check for null values
colSums(is.na(df))           # check for NA
sapply(df, function(x) sum(x == ""))  # check for empty strings in character columns

  TransactionID            Time          Amount      MerchantID TransactionType
              0               0               0               0               0
          Class
              0

  TransactionID            Time          Amount      MerchantID TransactionType
              0               0               0               0               0
          Class
              0